<!DOCTYPE html>
<html>
    <% include head.ejs %>
    <body>
        <div class="grid-container">
            <div class="grid-x grid-padding-x">
                <div class="large-12 cell">
                <h1>Bonjour <%= userId %></h1>
                <a href="/deconnect">se deconnecter</a>
        </div>
    </body>
</html>
