<!DOCTYPE html>
<html>
    <% include head.ejs %>
	<body>
            <div class="grid-container">
                <div class="grid-x grid-padding-x">
                    <div class="large-8 large-offset-2 cell">
                        <h1>TP3 de programmation Web</h1>
                            <% if (typeof flashMessage !== 'undefined') { %>
                                <div class="callout alert">
                                    <%= flashMessage %>
                                </div>
                            <% } %>
                        <form action="/login" method="post">
                            <label>Votre identifiant :
                                <input type="text" name="ident"/>
                            </label>
                            <label>Votre mot de passe : 
                                <input type="password" name="password"/>
                            </label>
                            <input type="submit" class="button" value="VALIDER">
                          </div>
                        </form>
                   </div>
            </div>
	</body>
</html>
